In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('dog.csv')

In [4]:
df.head()

,HALTER_ID,ALTER,GESCHLECHT,STADTKREIS,STADTQUARTIER,RASSE1,RASSE1_MISCHLING,RASSE2,RASSE2_MISCHLING,RASSENTYP,GEBURTSJAHR_HUND,GESCHLECHT_HUND,HUNDEFARBE
0,126,51-60,m,9.0,92.0,Welsh Terrier,NaN,NaN,NaN,K,2011,w,schwarz/braun
1,574,61-70,w,2.0,23.0,Cairn Terrier,NaN,NaN,NaN,K,2002,w,brindle
2,695,41-50,m,6.0,63.0,Labrador Retriever,NaN,NaN,NaN,I,2012,w,braun
3,893,61-70,w,7.0,71.0,Mittelschnauzer,NaN,NaN,NaN,I,2010,w,schwarz
4,1177,51-60,m,10.0,102.0,Shih Tzu,NaN,NaN,NaN,K,2011,m,schwarz/weiss

In [8]:
df['ALTER'].isna().value_counts()

ALTER
False    6978
True        2
Name: count, dtype: int64

In [15]:
df['RASSE2'].isna().value_counts()

RASSE2
True     6443
False     537
Name: count, dtype: int64

In [16]:
df['RASSE1'].isna().value_counts()

RASSE1
False    6980
Name: count, dtype: int64